html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    background-color: black;
}

#vid {display: flex;
flex-direction: column;
align-items: center;
transform: translateX(calc((100% - 100vw) / 2))
}